<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>AppleWindowTabbingMode</key>
	<string>manual</string>
	<key>BadgeMaxHeightFraction</key>
	<real>0.10000000149011612</real>
	<key>BadgeTopMargin</key>
	<integer>5</integer>
	<key>Default Arrangement Name</key>
	<string>Arrangement 1</string>
	<key>Default Bookmark Guid</key>
	<string>FB8A1CB4-9AB9-4699-A4EE-7C1E5A44BA70</string>
	<key>Default Toolbelt Width</key>
	<real>250</real>
	<key>DimBackgroundWindows</key>
	<false/>
	<key>DimInactiveSplitPanes</key>
	<true/>
	<key>DimOnlyText</key>
	<true/>
	<key>DisableFullscreenTransparency</key>
	<false/>
	<key>DisableWindowSizeSnap</key>
	<true/>
	<key>FlashTabBarInFullscreen</key>
	<true/>
	<key>HideActivityIndicator</key>
	<false/>
	<key>HideMenuBarInFullscreen</key>
	<true/>
	<key>HideTabCloseButton</key>
	<false/>
	<key>HideTabNumber</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>JobName</key>
	<true/>
	<key>LoadPrefsFromCustomFolder</key>
	<true/>
	<key>NSNavLastRootDirectory</key>
	<string>~/OneDrive - Dentsu Aegis Network/dev/config</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{712, 448}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{712, 565}</string>
	<key>NSQuotedKeystrokeBinding</key>
	<string></string>
	<key>NSRepeatCountBinding</key>
	<string></string>
	<key>NSScrollAnimationEnabled</key>
	<false/>
	<key>NSScrollViewShouldScrollUnderTitlebar</key>
	<false/>
	<key>NSTableView Columns v2 KeyBingingTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGNjdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK4HCA8aGxwdHh8gJjAxMlUkbnVsbNIJCgsOWk5TLm9iamVjdHNWJGNsYXNzogwN
	gAKACoAN0xAJChEVGVdOUy5rZXlzoxITFIADgASABaMWFxiABoAHgAiACVpJZGVudGlm
	aWVyVVdpZHRoVkhpZGRlblEwI0BowAAAAAAACNIhIiMkWiRjbGFzc25hbWVYJGNsYXNz
	ZXNcTlNEaWN0aW9uYXJ5oiMlWE5TT2JqZWN00xAJCicrGaMSExSAA4AEgAWjLC0YgAuA
	DIAIgAlRMSNAdKAAAAAAANIhIjM0Xk5TTXV0YWJsZUFycmF5ozM1JVdOU0FycmF5XxAP
	TlNLZXllZEFyY2hpdmVy0Tg5VUFycmF5gAEACAARABoAIwAtADIANwBGAEwAUQBcAGMA
	ZgBoAGoAbABzAHsAfwCBAIMAhQCJAIsAjQCPAJEAnACiAKkAqwC0ALUAugDFAM4A2wDe
	AOcA7gDyAPQA9gD4APwA/gEAAQIBBAEGAQ8BFAEjAScBLwFBAUQBSgAAAAAAAAIBAAAA
	AAAAADoAAAAAAAAAAAAAAAAAAAFM
	</data>
	<key>NSTableView Sort Ordering v2 KeyBingingTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA1VJG51bGzSCQoLDFpOUy5vYmplY3RzViRjbGFzc6CAAtIODxARWiRjbGFz
	c25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlYTlNPYmplY3Rf
	EA9OU0tleWVkQXJjaGl2ZXLRFhdVQXJyYXmAAQgRGiMtMjc7QUZRWFlbYGt0g4ePmKqt
	swAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAAC1
	</data>
	<key>NSTableView Supports v2 KeyBingingTable</key>
	<true/>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSFontPanel</key>
	<string>1609 193 889 309 0 0 2560 1417 </string>
	<key>NSWindow Frame Preferences</key>
	<string>1207 555 606 456 0 0 2560 1417 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>970 787 620 392 0 0 2560 1440 </string>
	<key>NSWindow Frame SharedPreferences</key>
	<string>782 368 796 473 0 0 2560 1440 </string>
	<key>NSWindow Frame iTerm Window 0</key>
	<string>1484 619 904 649 0 0 2560 1418 </string>
	<key>NSWindow Frame iTerm Window 1</key>
	<string>1512 603 570 452 0 0 2560 1417 </string>
	<key>NSWindow Frame iTerm Window 2</key>
	<string>254 406 1445 811 0 0 2560 1417 </string>
	<key>NSWindow Frame iTerm Window 3</key>
	<string>1801 -35 745 758 0 0 2560 1417 </string>
	<key>NSWindow Frame iTerm Window 4</key>
	<string>49 52 2509 443 0 0 2560 1417 </string>
	<key>NSWindow Frame iTerm Window 5</key>
	<string>427 89 570 427 0 0 2560 1417 </string>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.22864289581775665</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.16439604759216309</real>
				<key>Red Component</key>
				<real>0.98675507307052612</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.14031141996383667</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.81148117780685425</real>
				<key>Red Component</key>
				<real>0.34745052456855774</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.17436374723911285</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.86181855201721191</real>
				<key>Red Component</key>
				<real>0.99729621410369873</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.88752222061157227</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.45061191916465759</real>
				<key>Red Component</key>
				<real>0.091133370995521545</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.77949905395507812</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.31088364124298096</real>
				<key>Red Component</key>
				<real>0.56730067729949951</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.14458531141281128</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.10468603670597076</real>
				<key>Red Component</key>
				<real>0.093128785490989685</real>
			</dict>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>23.460757211538461</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Boost</key>
			<real>0.0</real>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.082277372479438782</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.88739234209060669</real>
				<key>Red Component</key>
				<real>0.99791514873504639</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.104583740234375</real>
				<key>Blue Component</key>
				<real>0.99934035539627075</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.91002446413040161</real>
				<key>Red Component</key>
				<real>0.65000206232070923</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.066537290811538696</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.15725451707839966</real>
				<key>Red Component</key>
				<real>0.29718822240829468</real>
			</dict>
			<key>Cursor Type</key>
			<integer>2</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.93576478958129883</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.93574893474578857</real>
				<key>Red Component</key>
				<real>0.93577694892883301</real>
			</dict>
			<key>Guid</key>
			<string>FB8A1CB4-9AB9-4699-A4EE-7C1E5A44BA70</string>
			<key>Horizontal Spacing</key>
			<real>0.98161003388554224</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.65356498956680298</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.29953503608703613</real>
				<key>Red Component</key>
				<real>0.071479283273220062</real>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Input-Regular 11</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>10000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.1149791032075882</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.28755724430084229</real>
				<key>Red Component</key>
				<real>0.10400275886058807</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.21070148050785065</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.94500070810317993</real>
				<key>Red Component</key>
				<real>0.5571407675743103</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string>Z</string>
			<key>Silence Bell</key>
			<false/>
			<key>Smart Cursor Color</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Thin Strokes</key>
			<integer>1</integer>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<false/>
			<key>Use Cursor Guide</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use Tab Color</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1.0867669898343375</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/sgiome01</string>
		</dict>
	</array>
	<key>NoSyncConfirmBeta</key>
	<true/>
	<key>NoSyncHaveWarnedAboutPasteConfirmationChange</key>
	<true/>
	<key>NoSyncInstallationId</key>
	<string>01A1B2F1-89EC-4EB2-B62A-105DB50FDA3E</string>
	<key>NoSyncLastTipTime</key>
	<real>528284861.93079901</real>
	<key>NoSyncPermissionToShowTip</key>
	<true/>
	<key>NoSyncTimeOfFirstLaunchOfVersionWithTip</key>
	<real>488372676.65937102</real>
	<key>NoSyncTipsToNotShow</key>
	<array>
		<string>000</string>
		<string>0000</string>
		<string>0001</string>
		<string>0002</string>
		<string>0003</string>
		<string>0004</string>
		<string>0005</string>
		<string>0006</string>
		<string>0007</string>
		<string>0008</string>
		<string>0009</string>
		<string>0010</string>
		<string>0011</string>
		<string>0012</string>
		<string>0013</string>
		<string>0014</string>
		<string>0015</string>
		<string>0016</string>
		<string>0017</string>
		<string>0018</string>
		<string>0019</string>
		<string>0020</string>
		<string>0021</string>
		<string>0022</string>
		<string>0023</string>
		<string>0024</string>
		<string>0025</string>
		<string>0026</string>
		<string>0027</string>
		<string>0028</string>
		<string>0029</string>
		<string>0030</string>
		<string>0031</string>
		<string>0032</string>
		<string>0033</string>
		<string>0034</string>
		<string>0035</string>
		<string>0036</string>
		<string>0037</string>
		<string>0038</string>
		<string>0039</string>
		<string>0040</string>
		<string>0041</string>
		<string>0042</string>
		<string>0043</string>
		<string>0044</string>
		<string>0045</string>
		<string>0046</string>
		<string>0047</string>
		<string>0048</string>
		<string>0049</string>
		<string>0050</string>
		<string>0051</string>
		<string>0052</string>
		<string>0053</string>
		<string>0054</string>
		<string>0055</string>
		<string>0056</string>
		<string>0057</string>
		<string>0058</string>
		<string>0059</string>
		<string>0060</string>
		<string>0061</string>
		<string>0062</string>
		<string>0063</string>
		<string>0064</string>
		<string>0065</string>
		<string>0066</string>
		<string>0067</string>
		<string>0068</string>
		<string>0069</string>
		<string>0070</string>
		<string>0071</string>
	</array>
	<key>OpenArrangementAtStartup</key>
	<false/>
	<key>OpenBookmark</key>
	<false/>
	<key>OpenNoWindowsAtStartup</key>
	<false/>
	<key>PasteTabToStringTabStopSize</key>
	<integer>4</integer>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromSelectionPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PrefsCustomFolder</key>
	<string>/Users/sgiome01/OneDrive - Dentsu Aegis Network/dev/config</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedAlternateAppNameKey</key>
	<string>iTerm</string>
	<key>SUFeedURL</key>
	<string>https://iterm2.com/appcasts/final.xml?shard=96</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2018-04-26T07:45:52Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>ShowBookmarkName</key>
	<false/>
	<key>ShowFullScreenTabBar</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.19886568509615388</real>
	<key>TabStyle</key>
	<integer>1</integer>
	<key>TabViewType</key>
	<integer>2</integer>
	<key>ToolbeltTools</key>
	<array>
		<string>Paste History</string>
	</array>
	<key>Window Arrangements</key>
	<dict>
		<key>Arrangement 1</key>
		<array>
			<dict>
				<key>Desired Columns</key>
				<integer>80</integer>
				<key>Desired Rows</key>
				<integer>25</integer>
				<key>Has Toolbelt</key>
				<false/>
				<key>Height</key>
				<real>1383</real>
				<key>Hide After Opening</key>
				<false/>
				<key>Hiding Toolbelt Should Resize Window</key>
				<true/>
				<key>Is Hotkey Window</key>
				<false/>
				<key>Saved Window Type</key>
				<integer>0</integer>
				<key>Screen</key>
				<integer>0</integer>
				<key>Selected Tab Index</key>
				<integer>0</integer>
				<key>Tabs</key>
				<array>
					<dict>
						<key>Root</key>
						<dict>
							<key>Subviews</key>
							<array>
								<dict>
									<key>Is Active</key>
									<integer>1</integer>
									<key>Session</key>
									<dict>
										<key>Bookmark</key>
										<dict>
											<key>ASCII Anti Aliased</key>
											<true/>
											<key>Ambiguous Double Width</key>
											<false/>
											<key>Ansi 0 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.0</real>
												<key>Green Component</key>
												<real>0.0</real>
												<key>Red Component</key>
												<real>0.0</real>
											</dict>
											<key>Ansi 1 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.0</real>
												<key>Green Component</key>
												<real>0.0</real>
												<key>Red Component</key>
												<real>0.73333334922790527</real>
											</dict>
											<key>Ansi 10 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.3333333432674408</real>
												<key>Green Component</key>
												<real>1</real>
												<key>Red Component</key>
												<real>0.3333333432674408</real>
											</dict>
											<key>Ansi 11 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.3333333432674408</real>
												<key>Green Component</key>
												<real>1</real>
												<key>Red Component</key>
												<real>1</real>
											</dict>
											<key>Ansi 12 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>1</real>
												<key>Green Component</key>
												<real>0.3333333432674408</real>
												<key>Red Component</key>
												<real>0.3333333432674408</real>
											</dict>
											<key>Ansi 13 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>1</real>
												<key>Green Component</key>
												<real>0.3333333432674408</real>
												<key>Red Component</key>
												<real>1</real>
											</dict>
											<key>Ansi 14 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>1</real>
												<key>Green Component</key>
												<real>1</real>
												<key>Red Component</key>
												<real>0.3333333432674408</real>
											</dict>
											<key>Ansi 15 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>1</real>
												<key>Green Component</key>
												<real>1</real>
												<key>Red Component</key>
												<real>1</real>
											</dict>
											<key>Ansi 2 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.0</real>
												<key>Green Component</key>
												<real>0.73333334922790527</real>
												<key>Red Component</key>
												<real>0.0</real>
											</dict>
											<key>Ansi 3 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.0</real>
												<key>Green Component</key>
												<real>0.73333334922790527</real>
												<key>Red Component</key>
												<real>0.73333334922790527</real>
											</dict>
											<key>Ansi 4 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.73333334922790527</real>
												<key>Green Component</key>
												<real>0.0</real>
												<key>Red Component</key>
												<real>0.0</real>
											</dict>
											<key>Ansi 5 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.73333334922790527</real>
												<key>Green Component</key>
												<real>0.0</real>
												<key>Red Component</key>
												<real>0.73333334922790527</real>
											</dict>
											<key>Ansi 6 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.73333334922790527</real>
												<key>Green Component</key>
												<real>0.73333334922790527</real>
												<key>Red Component</key>
												<real>0.0</real>
											</dict>
											<key>Ansi 7 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.73333334922790527</real>
												<key>Green Component</key>
												<real>0.73333334922790527</real>
												<key>Red Component</key>
												<real>0.73333334922790527</real>
											</dict>
											<key>Ansi 8 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.3333333432674408</real>
												<key>Green Component</key>
												<real>0.3333333432674408</real>
												<key>Red Component</key>
												<real>0.3333333432674408</real>
											</dict>
											<key>Ansi 9 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.3333333432674408</real>
												<key>Green Component</key>
												<real>0.3333333432674408</real>
												<key>Red Component</key>
												<real>1</real>
											</dict>
											<key>BM Growl</key>
											<true/>
											<key>Background Color</key>
											<dict>
												<key>Alpha Component</key>
												<real>1</real>
												<key>Blue Component</key>
												<real>0.12019693851470947</real>
												<key>Color Space</key>
												<string>Calibrated</string>
												<key>Green Component</key>
												<real>0.10790880769491196</real>
												<key>Red Component</key>
												<real>0.084904968738555908</real>
											</dict>
											<key>Blink Allowed</key>
											<false/>
											<key>Blinking Cursor</key>
											<true/>
											<key>Blur</key>
											<true/>
											<key>Blur Radius</key>
											<real>14.120462740384614</real>
											<key>Bold Color</key>
											<dict>
												<key>Blue Component</key>
												<real>1</real>
												<key>Green Component</key>
												<real>1</real>
												<key>Red Component</key>
												<real>1</real>
											</dict>
											<key>Character Encoding</key>
											<integer>4</integer>
											<key>Close Sessions On End</key>
											<true/>
											<key>Columns</key>
											<integer>80</integer>
											<key>Command</key>
											<string></string>
											<key>Cursor Boost</key>
											<real>0.0</real>
											<key>Cursor Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.73333334922790527</real>
												<key>Green Component</key>
												<real>0.73333334922790527</real>
												<key>Red Component</key>
												<real>0.73333334922790527</real>
											</dict>
											<key>Cursor Guide Color</key>
											<dict>
												<key>Alpha Component</key>
												<real>0.104583740234375</real>
												<key>Blue Component</key>
												<real>0.99934035539627075</real>
												<key>Color Space</key>
												<string>Calibrated</string>
												<key>Green Component</key>
												<real>0.91002446413040161</real>
												<key>Red Component</key>
												<real>0.65000206232070923</real>
											</dict>
											<key>Cursor Text Color</key>
											<dict>
												<key>Blue Component</key>
												<real>1</real>
												<key>Green Component</key>
												<real>1</real>
												<key>Red Component</key>
												<real>1</real>
											</dict>
											<key>Cursor Type</key>
											<integer>1</integer>
											<key>Custom Command</key>
											<string>No</string>
											<key>Custom Directory</key>
											<string>No</string>
											<key>Default Bookmark</key>
											<string>No</string>
											<key>Description</key>
											<string>Default</string>
											<key>Disable Window Resizing</key>
											<true/>
											<key>Flashing Bell</key>
											<false/>
											<key>Foreground Color</key>
											<dict>
												<key>Alpha Component</key>
												<real>1</real>
												<key>Blue Component</key>
												<real>0.76436930894851685</real>
												<key>Color Space</key>
												<string>Calibrated</string>
												<key>Green Component</key>
												<real>0.76349443197250366</real>
												<key>Red Component</key>
												<real>0.80226820707321167</real>
											</dict>
											<key>Guid</key>
											<string>FB8A1CB4-9AB9-4699-A4EE-7C1E5A44BA70</string>
											<key>Horizontal Spacing</key>
											<real>0.98161003388554224</real>
											<key>Idle Code</key>
											<integer>0</integer>
											<key>Jobs to Ignore</key>
											<array>
												<string>rlogin</string>
												<string>ssh</string>
												<string>slogin</string>
												<string>telnet</string>
											</array>
											<key>Keyboard Map</key>
											<dict>
												<key>0x2d-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1f</string>
												</dict>
												<key>0x32-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x00</string>
												</dict>
												<key>0x33-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1b</string>
												</dict>
												<key>0x34-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1c</string>
												</dict>
												<key>0x35-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1d</string>
												</dict>
												<key>0x36-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1e</string>
												</dict>
												<key>0x37-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1f</string>
												</dict>
												<key>0x38-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x7f</string>
												</dict>
												<key>0xf700-0x220000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2A</string>
												</dict>
												<key>0xf700-0x240000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;5A</string>
												</dict>
												<key>0xf700-0x260000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;6A</string>
												</dict>
												<key>0xf700-0x280000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1b 0x1b 0x5b 0x41</string>
												</dict>
												<key>0xf701-0x220000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2B</string>
												</dict>
												<key>0xf701-0x240000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;5B</string>
												</dict>
												<key>0xf701-0x260000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;6B</string>
												</dict>
												<key>0xf701-0x280000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1b 0x1b 0x5b 0x42</string>
												</dict>
												<key>0xf702-0x220000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2D</string>
												</dict>
												<key>0xf702-0x240000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;5D</string>
												</dict>
												<key>0xf702-0x260000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;6D</string>
												</dict>
												<key>0xf702-0x280000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1b 0x1b 0x5b 0x44</string>
												</dict>
												<key>0xf703-0x220000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2C</string>
												</dict>
												<key>0xf703-0x240000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;5C</string>
												</dict>
												<key>0xf703-0x260000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;6C</string>
												</dict>
												<key>0xf703-0x280000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1b 0x1b 0x5b 0x43</string>
												</dict>
												<key>0xf704-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2P</string>
												</dict>
												<key>0xf705-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2Q</string>
												</dict>
												<key>0xf706-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2R</string>
												</dict>
												<key>0xf707-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2S</string>
												</dict>
												<key>0xf708-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[15;2~</string>
												</dict>
												<key>0xf709-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[17;2~</string>
												</dict>
												<key>0xf70a-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[18;2~</string>
												</dict>
												<key>0xf70b-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[19;2~</string>
												</dict>
												<key>0xf70c-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[20;2~</string>
												</dict>
												<key>0xf70d-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[21;2~</string>
												</dict>
												<key>0xf70e-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[23;2~</string>
												</dict>
												<key>0xf70f-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[24;2~</string>
												</dict>
												<key>0xf729-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2H</string>
												</dict>
												<key>0xf729-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;5H</string>
												</dict>
												<key>0xf72b-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2F</string>
												</dict>
												<key>0xf72b-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;5F</string>
												</dict>
											</dict>
											<key>Link Color</key>
											<dict>
												<key>Alpha Component</key>
												<real>1</real>
												<key>Blue Component</key>
												<real>0.65356498956680298</real>
												<key>Color Space</key>
												<string>Calibrated</string>
												<key>Green Component</key>
												<real>0.29953503608703613</real>
												<key>Red Component</key>
												<real>0.071479283273220062</real>
											</dict>
											<key>Minimum Contrast</key>
											<real>0.0</real>
											<key>Mouse Reporting</key>
											<true/>
											<key>Name</key>
											<string>Default</string>
											<key>Non Ascii Font</key>
											<string>Monaco 12</string>
											<key>Non-ASCII Anti Aliased</key>
											<true/>
											<key>Normal Font</key>
											<string>Input-Regular 11</string>
											<key>Only The Default BG Color Uses Transparency</key>
											<false/>
											<key>Option Key Sends</key>
											<integer>0</integer>
											<key>Prompt Before Closing 2</key>
											<false/>
											<key>Right Option Key Sends</key>
											<integer>0</integer>
											<key>Rows</key>
											<integer>25</integer>
											<key>Screen</key>
											<integer>-1</integer>
											<key>Scrollback Lines</key>
											<integer>1000</integer>
											<key>Selected Text Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.0</real>
												<key>Green Component</key>
												<real>0.0</real>
												<key>Red Component</key>
												<real>0.0</real>
											</dict>
											<key>Selection Color</key>
											<dict>
												<key>Alpha Component</key>
												<real>1</real>
												<key>Blue Component</key>
												<real>0.8589511513710022</real>
												<key>Color Space</key>
												<string>Calibrated</string>
												<key>Green Component</key>
												<real>0.62527036666870117</real>
												<key>Red Component</key>
												<real>0.45482495427131653</real>
											</dict>
											<key>Send Code When Idle</key>
											<false/>
											<key>Shortcut</key>
											<string>Z</string>
											<key>Silence Bell</key>
											<false/>
											<key>Smart Cursor Color</key>
											<false/>
											<key>Sync Title</key>
											<false/>
											<key>Tags</key>
											<array/>
											<key>Terminal Type</key>
											<string>xterm-256color</string>
											<key>Thin Strokes</key>
											<integer>1</integer>
											<key>Transparency</key>
											<real>0.14470229289940834</real>
											<key>Unlimited Scrollback</key>
											<false/>
											<key>Use Bold Font</key>
											<true/>
											<key>Use Bright Bold</key>
											<false/>
											<key>Use Cursor Guide</key>
											<true/>
											<key>Use Italic Font</key>
											<true/>
											<key>Use Non-ASCII Font</key>
											<false/>
											<key>Vertical Spacing</key>
											<real>1.0867669898343375</real>
											<key>Visual Bell</key>
											<true/>
											<key>Window Type</key>
											<integer>0</integer>
											<key>Working Directory</key>
											<string>/Users/sgiome01</string>
										</dict>
										<key>Bookmark Name</key>
										<string>Default</string>
										<key>Columns</key>
										<integer>155</integer>
										<key>Commands</key>
										<array/>
										<key>Directories</key>
										<array/>
										<key>Environment</key>
										<dict>
											<key>PWD</key>
											<string>/Users/sgiome01</string>
										</dict>
										<key>Hosts</key>
										<array/>
										<key>Is UTF-8</key>
										<true/>
										<key>Program</key>
										<dict>
											<key>Command</key>
											<string>login -fp "sgiome01"</string>
											<key>Type</key>
											<string>Command</string>
										</dict>
										<key>Rows</key>
										<integer>79</integer>
										<key>Server PID</key>
										<integer>4617</integer>
										<key>Session Default Name</key>
										<string>Default</string>
										<key>Session GUID</key>
										<string>53EA17E2-0679-4734-B3E3-C0AE344236F1</string>
										<key>Session Name</key>
										<string>Default</string>
										<key>Session Window Title</key>
										<string>Default</string>
										<key>Shell Integration Ever Used</key>
										<false/>
										<key>Substitutions</key>
										<dict/>
										<key>TTY</key>
										<string>/dev/ttys000</string>
										<key>Working Directory</key>
										<string>/Users/sgiome01</string>
									</dict>
									<key>View Type</key>
									<string>SessionView</string>
									<key>frame</key>
									<dict>
										<key>height</key>
										<real>1360</real>
										<key>width</key>
										<real>1097</real>
										<key>x</key>
										<real>0.0</real>
										<key>y</key>
										<real>0.0</real>
									</dict>
								</dict>
							</array>
							<key>View Type</key>
							<string>Splitter</string>
							<key>frame</key>
							<dict>
								<key>height</key>
								<real>1360</real>
								<key>width</key>
								<real>1097</real>
								<key>x</key>
								<real>0.0</real>
								<key>y</key>
								<real>0.0</real>
							</dict>
							<key>isVertical</key>
							<false/>
						</dict>
					</dict>
				</array>
				<key>TerminalGuid</key>
				<string>pty-E8A2C74C-78A3-4B34-BF0D-98008CDCD29A</string>
				<key>Width</key>
				<real>1097</real>
				<key>Window Type</key>
				<integer>0</integer>
				<key>X Origin</key>
				<real>12</real>
				<key>Y Origin</key>
				<real>21</real>
			</dict>
		</array>
	</dict>
	<key>WindowNumber</key>
	<true/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>findIgnoreCase_iTerm</key>
	<true/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>findRegex_iTerm</key>
	<false/>
	<key>iTerm Version</key>
	<string>3.1.5</string>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
